/* Light gray: #94A3B8 */
/* Light blue: #0EA5E9 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.h1 {
  font-size: 20pt;
  font-weight: bold;
}

header {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}

.sidebar {
  font-size: 14pt;
  font-weight: 600;
  width: 40vw;
  max-width: 16rem;
  height: 100vh;
  background-color: #0ea5e9;
  color: white;
  padding: 1rem;
}

.site-title-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.site-logo {
  height: 1.5em;
  margin: 0;
  margin-right: 0.5em;
}

.site-link-icon {
  height: 1.1em;
}

.site-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.site-link-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

site-link {
  color: white;
}

.info-link-icon {
  height: 1.1em;
}

.info-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.info-link-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info-link {
  color: white;
}

a {
  text-decoration: none;
}

.icon {
  height: 1.75em;
  fill: #3e343a;
}

.top-profile-picture {
  height: 2.5em;
  border-radius: 50%;
}

header {
  padding: 0.5em 2em 0.5em 2em;
}

.top-header-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 0px;
}

.search-container {
  align-self: left;
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-bar {
  width: 100%;
  border: 0px;
  background: rgb(231, 235, 236);
  border-radius: 1.75em;
  height: 1.75em;
}

.top-profile-container {
  justify-self: right;
  display: flex;
  align-items: center;
  gap: 1em;
}
